[run]
plugins = Cython.Coverage
source = nautilus_trader
omit = nautilus_trader/adapters/binance*,nautilus_trader/adapters/ftx*,nautilus_trader/adapters/ib*,nautilus_trader/examples*,nautilus_trader/persistence/migrations/*

[report]
fail_under = 0
show_missing = True
