# -------------------------------------------------------------------------------------------------
#  Copyright (C) 2015-2021 Nautech Systems Pty Ltd. All rights reserved.
#  https://nautechsystems.io
#
#  Licensed under the GNU Lesser General Public License Version 3.0 (the "License");
#  You may not use this file except in compliance with the License.
#  You may obtain a copy of the License at https://www.gnu.org/licenses/lgpl-3.0.en.html
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
# -------------------------------------------------------------------------------------------------

[flake8]
filename = *.py,*.pyx,*.pxd,*.pxi,*.pyi
exclude =
   .github
   .nox
   .pytest_cache
   __pycache__
   build
   dist
   docs
   noxfile.py
ignore = C101, E203, E252, E402, D100, D101, D102, S101, W503, S403
accept-encodings = utf-8
max-complexity = 10
max-line-length = 150
statistics = True

per-file-ignores =
    *.pyx,*.pxd: E225, E226, E227, E999
    tests/*:S101

# Cython ignores justification
# ----------------------------
# E225 missing whitespace around operator (picks up cython casting)
# E226 missing whitespace around arithmetic operator (picks up C pointers)
# E227 missing whitespace around bitwise or shift operator (picks up C pointers)
# E999 SyntaxError: invalid syntax (cimport seen as invalid syntax)

# Ignores justification
# ---------------------
# C101 Coding magic comment not found
# D100 Missing docstring in public module (picks up entire test suite)
# D101 Missing docstring in public class (picks up entire test suite)
# D102 Missing docstring in public method (picks up entire test suite)
# E203 whitespace before ':' (conflicts with Black)
# E252 spaces around default argument assignment (incorrect syntax)
# E402 module level import not at top of file (workaround to assist imports in examples)
# S101 Use of assert detected (use of assert normal for pytest)
# S403 S403 Consider possible security implications associated with pickle module (pickle ok!)
# W503: in error will be amended by flake8 soon (https://www.flake8rules.com/rules/W503.html)
