*.c
*.o
*.so
*.pyc
*.pyd
*.exp
*.obj
*.lib
*.html
*.log
*.prof
*.rdb
*.xml
*.key
*.key_secret

.coverage*
.cache/
.git/
.idea/
.mypy_cache/
.profile/
.pytest_cache/
.python-version
.vscode/

__pycache__
_build/
build/
dist/
env/
log/
logs/
*target/
venv*/

.DS_Store
!tests/integration_tests/adapters/betfair/responses/*.log
tests/test_kit/data/catalog/
PERF.JSON
*dask-worker-space*