*.c
*.h
*.o
*.so
*.pyc
*.pyd
*.exp
*.obj
*.lib
*.log
*.prof
*.rdb
*.xml
*.key
*.key_secret

.benchmarks*
.coverage*
.cache/
.git/
.idea/
.mypy_cache/
.profile/
.pytest_cache/
.python-version
.vscode/
.env

__pycache__
_build/
build/
dist/
env/
log/
logs/
*target/
venv*/

.DS_Store
!tests/integration_tests/adapters/betfair/responses/*.log
tests/test_kit/data/catalog/
PERF.JSON
*dask-worker-space*
output.json
.ipynb_checkpoints
examples/backtest/notebooks/catalog
nautilus_trader/**/.gitignore
docs/**/*.ipynb
!nautilus_trader/core/pytime.h

examples/backtest/account_report.csv
examples/backtest/crypto_ema_cross_bracket_btcusdt_bars copy.py
examples/backtest/crypto_ema_cross_bracket_macd_btcusdt_bars.py
examples/backtest/order_fills_report.csv
examples/backtest/positions_report.csv
nautilus_trader/examples/strategies/generic_strat.py
examples/backtest/hyperopt_kline.py
tests/test_kit/data/btcusdt_15m_um_data.csv
nautilus_trader/examples/strategies/ema_cross_bracket_mod.py
binance-public-data
examples/backtest/hyperopt_kline_multi.py
examples/backtest/hyperopt_kline_multi_eos.py
examples/backtest/crypto_ema_cross_bracket_macd_btcusdt_bars_external.py
examples/backtest/crypto_ema_cross_bracket_macd_btcusdt_bars_internal.py
examples/backtest/crypto_ema_cross_bracket_macd_multi_bars_external.py
nautilus_trader/examples/strategies/smacci.py
# nautilus_trader/indicators/ta_lib.pyx
examples/backtest/kaw_kaw.py
# nautilus_trader/indicators/ta_lib.pxd

account_report.csv

positions_report.csv
examples/backtest/hyperopt_kline_multi_smacci.py
order_fills_report.csv
nautilus_trader/examples/strategies/slowmo.py
.gitignore
examples/backtest/hyperopt_kline_multi_wma.py
nautilus_trader/examples/strategies/smacci_classic.py
