repos:

  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-encoding-pragma
        args: [--remove]
      - id: forbid-new-submodules # Check for git submodules
      - id: end-of-file-fixer
        exclude: \.txt$
      - id: trailing-whitespace

  -   repo: https://github.com/codespell-project/codespell
      rev: v2.0.0
      hooks:
        -   id: codespell
            description: Checks for common misspellings.
            types_or: [python, rst, markdown]  # TODO: Add Cython

  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
        name: flake8 (python)
        additional_dependencies:
          - flake8-bandit==2.1.2
          - flake8-bugbear==20.1.4
#          - flake8-docstrings
#          - flake8-rst-docstrings==0.0.14
          - flake8-typing-imports==1.9.0
#          - pep8-naming==0.11.1
        types: [python]
      - id: flake8
        name: flake8 (cython)
        additional_dependencies:
          - flake8-bandit==2.1.2
          - flake8-bugbear==20.1.4
          - flake8-docstrings
          - flake8-rst-docstrings==0.0.14
          - flake8-typing-imports==1.9.0
          - pep8-naming==0.11.1
        types: [cython]
