[tool.poetry]
name = "nautilus_trader"
version = "1.124.0"
description = "A high-performance algorithmic trading platform and event-driven backtester"
authors = ["Nautech Systems <info@nautechsystems.io>"]
license = "LGPL-3.0-or-later"
readme = "README.md"
homepage = "https://nautechsystems.io"
repository = "https://github.com/nautechsystems/nautilus_trader"
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]
packages = [
    { include = "examples", format = "sdist" },
    { include = "nautilus_trader" },
]
include = [
    # Compiled extensions must be included in the wheel distributions
    { path = "nautilus_trader/**/*.so", format = "wheel" },
    { path = "nautilus_trader/**/*.pyd", format = "wheel" },
]

[build-system]
requires = [
    "setuptools",
    "poetry-core>=1.0.3",
    "numpy>=1.21.0",
    "Cython>=3.0.0a8",
]
build-backend = "poetry.core.masonry.api"

[tool.poetry.build]
script = "build.py"
generate-setup-file = false

[tool.poetry.dependencies]
python = "^3.7.9"
cython = "^3.0.0a8"
empyrical = "^0.5.5"
fsspec = "^2021.6.1"
msgpack = "^1.0.2"
numpy = "^1.21.0"
orjson = "3.5.1"  # Pinned at 3.5.1 due betfairlightweight
pandas = "^1.3.0"
psutil = "^5.8.0"
pyarrow = "^4.0.1"
pytz = "^2021.1"
redis = "^3.5.3"
scipy = "1.6.1"  # Pinned at 1.6.1 due Python 3.7.9
tabulate = "^0.8.9"
tqdm = "^4.61.1"
uvloop = { version = "^0.15.2", markers = "sys_platform != 'win32'" }
betfairlightweight = {extras = ["speed"], version = "^2.12.1", optional = true}
ccxt = { version = "^1.52.41", optional = true }
ib_insync = { version = "^0.9.66", optional = true }
numpydoc = { version = "^1.1.0", optional = true }
oandapyV20 = { version = "^0.6.3", optional = true }
dask = "^2021.6.2"
distributed = "^2021.6.2"
bokeh = "^2.3.2"

[tool.poetry.dev-dependencies]
# coverage 5.x is currently broken for Cython
# https://github.com/cython/cython/issues/3515
black = "^21.6b0"
coverage = "4.5.4"  # Pinned at 4.5.4 due Cython 3.0.0a8
flake8 = "^3.9.2"
isort = "^5.9.1"
mypy = "^0.902"
nox = "^2021.6.12"
parameterized = "^0.8.1"
pre-commit = "^2.13.0"
pytest = "^6.2.4"
pytest-asyncio = "^0.15.1"
pytest-benchmark = "^3.4.1"
pytest-cov = "2.10.1"  # Pinned at 2.10.1 due coverage 4.5.4
pytest-mock = "^3.6.1"
pytest-xdist = { version = "^2.3.0", extras = ["psutil"] }
sphinx = { version = "^4.0.2", optional = true }
sphinx-rtd-theme = { version = "^0.5.1", optional = true }

[tool.poetry.extras]
betfair = ["betfairlightweight"]
ccxt = ["ccxt"]
docs = ["numpydoc", "sphinx", "sphinx-rtd-theme"]
ib = ["ib_insync"]
oanda = ["oandapyV20"]
distributed = ["distributed", "bokeh"]


##########################################################
# Test configs                                           #
##########################################################
[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "-ra --new-first --failed-first"
filterwarnings = [
    "ignore::UserWarning",
    "ignore::DeprecationWarning",
]

# TODO (move .coveragerc here once we're on coverage 5.x)

##########################################################
# Formatting configs                                     #
##########################################################
[tool.isort]
src_paths = [
    "examples",
    "nautilus_trader",
    "scripts",
    "tests",
    "build.py",
    "noxfile.py",
]
combine_as_imports = true
ensure_newline_before_comments = true
force_grid_wrap = false
force_single_line = true
force_sort_within_sections = true
include_trailing_comma = true
known_first_party = ["examples", "nautilus_trader", "tests"]
known_third_party = ["redis"]
lexicographical = true
line_length = 100
multi_line_output = 3
lines_after_imports = 2
lines_between_types = 1
single_line_exclusions = "typing"
use_parentheses = true

[tool.black]
target_version = ["py37", "py38", "py39"]
include = '\.pyi?$'
line_length = 100
