[tool.poetry]
name = "nautilus_trader"
version = "1.130.0"
description = "A high-performance algorithmic trading platform and event-driven backtester"
authors = ["Nautech Systems <info@nautechsystems.io>"]
license = "LGPL-3.0-or-later"
readme = "README.md"
homepage = "https://nautechsystems.io"
repository = "https://github.com/nautechsystems/nautilus_trader"
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]
include = [
    # Compiled extensions must be included in the wheel distributions
    { path = "nautilus_trader/**/*.so", format = "wheel" },
    { path = "nautilus_trader/**/*.pyd", format = "wheel" },
]

[build-system]
requires = [
    "setuptools",
    "poetry-core>=1.0.4",
    "numpy>=1.21.2",
    "Cython>=3.0.0a9",
]
build-backend = "poetry.core.masonry.api"

[tool.poetry.build]
script = "build.py"
generate-setup-file = false

[tool.poetry.dependencies]
python = ">=3.8,<3.10"
cython = "^3.0.0a9"
aiodns = "^3.0.0"
aiohttp = "^3.7.4"
dask = "^2021.9.0"
empyrical = "^0.5.5"
fastuuid = "^0.7.0"
fsspec = "^2021.8.1"
msgpack = "^1.0.2"
numpy = "^1.21.2"
orjson = "^3.6.3"
pandas = "^1.3.3"
psutil = "^5.8.0"
pyarrow = ">=4.0.0,<6.0.0"
pydantic = "^1.8.2"
pytz = "^2021.1"
redis = "^3.5.3"
scipy = "^1.7.1"
tabulate = "^0.8.9"
tqdm = "^4.62.2"
uvloop = { version = "^0.16.0", markers = "sys_platform != 'win32'" }
bokeh = { version = "^2.3.3", optional = true }
distributed = { version = "^2021.8.0", optional = true }
ib_insync = { version = "^0.9.66", optional = true }

[tool.poetry.dev-dependencies]
# coverage 5.x is currently broken for Cython
# https://github.com/cython/cython/issues/3515
coverage = "4.5.4"  # Pinned at 4.5.4 due Cython 3.0.0a9
nox = "^2021.6.12"
pre-commit = "^2.15.0"
pytest = "^6.2.5"
pytest-asyncio = "^0.15.1"
pytest-benchmark = "^3.4.1"
pytest-cov = "2.10.1"  # Pinned at 2.10.1 due coverage 4.5.4
pytest-mock = "^3.6.1"
pytest-xdist = { version = "^2.3.0", extras = ["psutil"] }
numpydoc = { version = "^1.1.0", optional = true }
sphinx = { version = "^4.1.2", optional = true }
sphinx-rtd-theme = { version = "^0.5.2", optional = true }

[tool.poetry.extras]
distributed = ["distributed", "bokeh"]
docs = ["numpydoc", "sphinx", "sphinx-rtd-theme"]
ib = ["ib_insync"]


##########################################################
# Test configs                                           #
##########################################################
[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "-ra --new-first --failed-first"
filterwarnings = [
    "ignore::UserWarning",
    "ignore::DeprecationWarning",
]

# TODO (move .coveragerc here once we're on coverage 5.x)
