[tool.poetry]
name = "nautilus_trader"
version = "1.138.0"
description = "A high-performance algorithmic trading platform and event-driven backtester"
authors = ["Nautech Systems <info@nautechsystems.io>"]
license = "LGPL-3.0-or-later"
readme = "README.md"
homepage = "https://nautilustrader.io"
repository = "https://github.com/nautechsystems/nautilus_trader"
classifiers = [
    "License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
    "Operating System :: OS Independent",
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Scientific/Engineering",
    "Topic :: Office/Business :: Financial",
    "Topic :: Office/Business :: Financial :: Investment",
    "Intended Audience :: Developers",
    "Intended Audience :: Financial and Insurance Industry",
    "Intended Audience :: Science/Research",
]
include = [
    # Compiled extensions must be included in the wheel distributions
    { path = "nautilus_trader/**/*.so", format = "wheel" },
    { path = "nautilus_trader/**/*.pyd", format = "wheel" },
]

[build-system]
requires = [
    "setuptools",
    "poetry-core>=1.0.7",
    "numpy>=1.22.1",
    "Cython==3.0.0a9",  # Pinned at 3.0.0a9 due coverage
]
build-backend = "poetry.core.masonry.api"

[tool.poetry.build]
script = "build.py"
generate-setup-file = false

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
cython = "3.0.0a9"  # Pinned at 3.0.0a9 due coverage
aiodns = "^3.0.0"
aiohttp = "^3.8.1"
dask = "^2022.1.0"
fsspec = "^2022.1.0"
hiredis = "^2.0.0"
msgpack = "^1.0.3"
numpy = "^1.22.1"
orjson = "^3.6.6"
pandas = "^1.3.5"
psutil = "^5.9.0"
pyarrow = "^6.0.1"
pydantic = "^1.9.0"
pytz = "^2021.3"
quantstats = "^0.0.47"
redis = "^4.1.1"
tabulate = "^0.8.9"
toml = "^0.10.2"
tqdm = "^4.62.3"
uvloop = { version = "^0.16.0", markers = "sys_platform != 'win32'" }
bokeh = { version = "^2.4.2", optional = true }
distributed = { version = "^2022.1.0", optional = true }
ib_insync = { version = "^0.9.70", optional = true }

[tool.poetry.dev-dependencies]
# coverage 5.x is currently broken for Cython
# https://github.com/cython/cython/issues/3515
coverage = "4.5.4"  # Pinned at 4.5.4 due Cython
nox = "^2022.1.7"
numpydoc = "^1.1.0"
jupyter-book = "^0.12.1"
pre-commit = "^2.17.0"
pytest = "^6.2.5"
pytest-asyncio = "^0.17.2"
pytest-benchmark = "^3.4.1"
pytest-cov = "2.10.1"  # Pinned at 2.10.1 due coverage 4.5.4
pytest-mock = "^3.6.1"
pytest-xdist = { version = "^2.5.0", extras = ["psutil"] }

[tool.poetry.extras]
distributed = ["distributed", "bokeh"]
ib = ["ib_insync"]


##########################################################
# Test configs                                           #
##########################################################
[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "-ra --new-first --failed-first"
filterwarnings = [
    "ignore::UserWarning",
    "ignore::DeprecationWarning",
]

# TODO (move .coveragerc here once we're on coverage 5.x)
