cython>=0.29.20
numpy>=1.18.1
scipy>=1.4.1
pandas>=0.25.3
psutil>=5.7.0
pytz>=2020.1
pyzmq>=19.0.1
pymongo>=3.10.1
pytest>=5.4.3
msgpack>=0.6.1
redis>=3.4.1
python-snappy>=0.5.4
matplotlib>=2.2.4
lz4>=2.2.4