[package]
name = "nautilus_core"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true

[lib]
name = "nautilus_core"
crate-type = ["rlib", "staticlib"]

[dependencies]
chrono.workspace = true
pyo3.workspace = true
strum.workspace = true
uuid.workspace = true

[features]
extension-module = ["pyo3/extension-module"]
default = []

[dev-dependencies]
criterion.workspace = true
iai.workspace = true
rstest.workspace = true

[build-dependencies]
cbindgen.workspace = true

[[bench]]
name = "criterion_time_benchmark"
harness = false
