[package]
name = "nautilus_common"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "nautilus_common"
crate-type = ["rlib", "staticlib"]

[dependencies]
nautilus_core = { path = "../core" }
nautilus_model = { path = "../model" }
pyo3 = { version = "0.17.2" }
chrono = "0.4.19"

[features]
extension-module = [
    "pyo3/extension-module",
    "nautilus_core/extension-module",
    "nautilus_model/extension-module",
]
default = []

[build-dependencies]
cbindgen = "0.24.3"

