*.c
*.o
*.so
*.pyc
*.pyd
*.exp
*.obj
*.lib
*.html
*.log
*.prof
*.rdb
*.xml
*.key

.coverage*
.cache/
.git/
.idea/
.mypy_cache/
.profile/
.pytest_cache/
.python-version
.vscode/

__pycache__
_build/
build/
dist/
env/
log/
logs/
*target/

Cargo.lock*
!Cargo.lock  # Allow top-level lock
