[workspace]
resolver = "2"

members = [
    "common",
    "core",
    "model",
    "persistence"
]

[profile.dev]
opt-level = 0
debug = true
debug-assertions = true
overflow-checks = true
panic = "unwind"

[profile.test]
opt-level = 2
debug = true
debug-assertions = true
overflow-checks = true

[profile.release]
opt-level = 3
lto = true
debug = false
panic = "abort"
