[package]
name = "nautilus-persistence"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true

[lib]
name = "nautilus_persistence"
crate-type = ["rlib", "staticlib", "cdylib"]

[dependencies]
nautilus-core = { path = "../core" }
nautilus-common = { path = "../common" }
nautilus-model = { path = "../model", features = ["stubs"] }
nautilus-serialization = { path = "../serialization" }

futures = { workspace = true }
heck = { workspace = true }
itertools = { workspace = true }
log = { workspace = true }
pyo3 = { workspace = true, optional = true }
serde_json = { workspace = true }
serde = { workspace = true }
tokio = { workspace = true }
thiserror = { workspace = true }
parquet = { workspace = true }
binary-heap-plus = "0.5.0"
compare = "0.1.0"
datafusion = { version = "45.0.0", default-features = false, features = [
  "compression",
  "parquet",
  "regex_expressions",
  "unicode_expressions",
] }
object_store = "0.11.2"

[dev-dependencies]
nautilus-test-kit = { path = "../test_kit" }
criterion = { workspace = true }
rand = { workspace = true }
rstest = { workspace = true }
tempfile = { workspace = true }
quickcheck = "1"
quickcheck_macros = "1"
pretty_assertions = "1.4.1"
[target.'cfg(target_os = "linux")'.dependencies]
procfs = "0.17.0"

[features]
default = ["ffi", "python"]
extension-module = [
  "pyo3/extension-module",
  "nautilus-core/extension-module",
  "nautilus-model/extension-module",
  "nautilus-serialization/extension-module",
]
ffi = ["nautilus-core/ffi", "nautilus-model/ffi"]
python = ["pyo3", "nautilus-core/python", "nautilus-model/python", "nautilus-serialization/python"]
high-precision = ["nautilus-serialization/high-precision", "nautilus-model/high-precision", "nautilus-test-kit/high-precision"]

[[bench]]
name = "bench_persistence"
harness = false
