name: build-docs

on:
  push:
    branches: [master, nightly]

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Fire event to nautilus_docs
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.REPOSITORY_ACCESS_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/nautechsystems/nautilus_docs/dispatches \
            -d '{"event_type":"push"}'
