name: build

# Build and test NautilusTrader

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ 3.8, 3.9 ]
    name: build - Python ${{ matrix.python-version }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      # Python setup
      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # Install build dependencies
      - name: Install build dependencies
        run: python -m pip install --upgrade pip setuptools wheel poetry pre-commit nox

      # Setup cached pre-commit
      - name: Setup cached pre-commit
        id: cache-pre-commit
        uses: actions/cache@v2
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-${{ matrix.python-version }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: ${{ runner.os }}-${{ matrix.python-version }}-pre-commit-

      # Run pre-commit
      - name: Run pre-commit
        run: pre-commit run --all-files

      # Setup cached Poetry environment
      - name: Setup cached Poetry environment
        id: poetry-cache
        run: echo "::set-output name=dir::$(poetry config cache-dir)"

      - name: Poetry/Nox cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.poetry-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.python-version }}-poetry-test-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-poetry-test-
            ${{ runner.os }}-${{ matrix.python-version }}-poetry-

      # Install and run database dependencies
      - name: Install Redis (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install redis
          redis-server --daemonize yes

      - name: Install Redis (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install redis-server
          redis-server --daemonize yes

      # Run tests (Linux)
      - name: Run tests (Linux)
        if: runner.os == 'Linux'
        run: nox -rs coverage

      # Upload coverage report to codecov (Linux)
      - name: Upload coverage report (Linux)
        if: runner.os == 'Linux'
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          verbose: true

      # Run tests (macOS)
      - name: Run tests (macOS)
        if: runner.os == 'macOS'
        run: nox -rs tests_with_integration

      # Run tests (Windows) without parallel build (avoids linker errors)
      - name: Run tests (Windows)
        if: runner.os == 'Windows'
        run: nox -rs tests_with_integration -- no-parallel

      # Run performance tests (Linux)
      - name: Run performance tests (Linux)
        if: runner.os == 'Linux'
        run: nox -rs performance_tests

      # Store benchmark results (Linux)
#      - name: Store benchmark result (Linux)
#        if: runner.os == 'Linux'
#        uses: rhysd/github-action-benchmark@v1
#        with:
#          name: Benchmark with pytest-benchmark
#          tool: "pytest"
#          output-file-path: output.json
#          github-token: ${{ secrets.GHPAGES_ACCESS }}
#          auto-push: true
#          # Show alert with commit comment on detecting possible performance regression
#          alert-threshold: '200%'
#          comment-always: true
#          fail-on-alert: false
