name: docker

# Build NautilusTrader docker images

on:
  workflow_run:
    workflows:
      - build
    branches: [ develop ]
    types:
      - completed

jobs:
  build-docker-images:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: build-docker-images
    runs-on: ubuntu-latest
    needs: build
    env:
      BUILD_MODE: release

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Build docker images
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PACKAGES_TOKEN }}

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v5.2

      # Build nautilus_trader docker image (develop)
      - name: Build nautilus_trader image (develop)
        if: ${{ steps.branch-name.outputs.current_branch == 'develop' }}
        id: docker_build_trader_develop
        uses: docker/build-push-action@v2
        with:
          file: ".docker/nautilus_trader.dockerfile"
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/nautilus_trader:develop
          cache-from: type=gha
          cache-to: type=gha
      - name: Digest nautilus_trader image
        run: echo ${{ steps.docker_build_trader_develop.outputs.digest }}

      # Build nautilus_trader docker image (latest)
      - name: Build nautilus_trader image (latest)
        if: ${{ steps.branch-name.outputs.current_branch == 'master' }}
        id: docker_build_trader_latest
        uses: docker/build-push-action@v2
        with:
          file: ".docker/nautilus_trader.dockerfile"
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/nautilus_trader:latest
          cache-from: type=gha
          cache-to: type=gha
      - name: Digest nautilus_trader image
        run: echo ${{ steps.docker_build_trader_latest.outputs.digest }}

      # Build jupyterlab docker image (develop)
      - name: Build jupyterlab image (develop)
        if: ${{ steps.branch-name.outputs.current_branch == 'develop' }}
        id: docker_build_jupyterlab_develop
        uses: docker/build-push-action@v2
        with:
          file: ".docker/jupyterlab.dockerfile"
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/jupyterlab:develop
          cache-from: type=gha
          cache-to: type=gha
          build-args: |
            GIT_TAG=${{ steps.branch-name.outputs.current_branch }}
      - name: Digest jupyterlab image
        run: echo ${{ steps.docker_build_jupyterlab_develop.outputs.digest }}

      # Build jupyterlab docker image (latest)
      - name: Build jupyterlab image (latest)
        if: ${{ steps.branch-name.outputs.current_branch == 'master' }}
        id: docker_build_jupyterlab_latest
        uses: docker/build-push-action@v2
        with:
          file: ".docker/jupyterlab.dockerfile"
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/jupyterlab:latest
          cache-from: type=gha
          cache-to: type=gha
          build-args: |
            GIT_TAG=latest
      - name: Digest jupyterlab image
        run: echo ${{ steps.docker_build_jupyterlab_latest.outputs.digest }}
