name: docs

# Build and deploy the NautilusTrader documentation

on:
  push:
    branches: [master, develop]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Rust tool-chain (stable)
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Set up Rust tool-chain (nightly)
        uses: actions-rust-lang/setup-rust-toolchain@v1.5
        with:
          toolchain: nightly
          components: rustfmt, clippy

      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install build dependencies
        run: python -m pip install --upgrade pip setuptools wheel pre-commit poetry==1.5.1 msgspec git+https://github.com/nautechsystems/ibapi.git

      - name: Build project
        run: poetry install --with docs --all-extras

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v6

      - name: Build Python docs
        run: make docs-python

      - name: Build Rust docs
        run: |
          make docs-rust
          cp -r nautilus_core/target/doc docs/build/html/core

      - name: Add nojeckyll
        run: touch docs/build/html/.nojekyll

      - name: Add CNAME
        run: echo "docs.nautilustrader.io" >> docs/build/html/CNAME

      - name: Publish docs (develop)
        if: ${{ steps.branch-name.outputs.current_branch == 'develop' }}
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: docs/build/html
          SQUASH_HISTORY: false
          GITHUB_TOKEN: ${{ secrets.GHPAGES_ACCESS }}
          TARGET_DIR: develop

      - name: Publish docs (latest)
        if: ${{ steps.branch-name.outputs.current_branch == 'master' }}
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: docs/build/html
          SQUASH_HISTORY: false
          GITHUB_TOKEN: ${{ secrets.GHPAGES_ACCESS }}
