name: docs

# Build and deploy the NautilusTrader API documentation

on:
  push:
    branches: [master, develop]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Cargo setup
      - name: Set up Cargo cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/nautilus_core/Cargo.lock') }}

      # Python setup
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      # Install build dependencies
      - name: Install build dependencies
        run: python -m pip install --upgrade pip setuptools poetry

      # Build project
      - name: Build project
        run: poetry install --with docs --all-extras

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v6

      # Build docs (develop)
      - name: Build docs (develop)
        if: ${{ steps.branch-name.outputs.current_branch == 'develop' }}
        run: poetry run sphinx-build docs docs/build/html -b html

      # Build docs (latest)
      - name: Build docs (latest)
        if: ${{ steps.branch-name.outputs.current_branch == 'master' }}
        run: poetry run sphinx-build docs docs/build/html -b html

      # Add nojeckyll
      - name: Add nojeckyll
        run: touch docs/build/html/.nojekyll

      # Add CNAME
      - name: Add CNAME
        run: echo "docs.nautilustrader.io" >> docs/build/html/CNAME

      # Publish docs
      - name: Publish docs
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: docs/build/html
          SQUASH_HISTORY: false
          GITHUB_TOKEN: ${{ secrets.GHPAGES_ACCESS }}
          TARGET: develop
