#name: docs
#
## Build and deploy the NautilusTrader API documentation
#
#on:
#  push:
#    branches: [ master, develop ]
#
#jobs:
#  docs:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#
#      # Python setup
#      - name: Set up Python environment
#        uses: actions/setup-python@v2
#        with:
#          python-version: "3.9"
#
#      # Install build dependencies
#      - name: Install build dependencies
#        run: python -m pip install --upgrade pip setuptools wheel poetry
#
#      # Build project
#      - name: Build project
#        run: poetry install
#
#      # Build docs
#      - name: Build docs
#        run: poetry run sphinx-build docs docs/build/html -b html
#
#      # Add nojeckyll
#      - name: Add nojeckyll
#        run: touch docs/build/html/.nojekyll
#
#      # Add CNAME
#      - name: Add CNAME
#        run: echo "docs.nautilustrader.io" >> docs/build/html/CNAME
#
#      # Publish docs
#      - name: Publish docs
#        uses: s0/git-publish-subdir-action@develop
#        env:
#          REPO: self
#          BRANCH: gh-pages
#          FOLDER: docs/build/html
#          SQUASH_HISTORY: false
#          GITHUB_TOKEN: ${{ secrets.GHPAGES_ACCESS }}
