name: docs

# Build and deploy the NautilusTrader API documentation

on:
  push:
    branches: [ master, develop ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: pre-commit/action@v2.0.3

  docs:
    needs: [ pre-commit ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Python setup
      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      # Install build dependencies
      - name: Install build dependencies
        run: python -m pip install --upgrade pip setuptools poetry

      # Export package requirements
      - name: Export package requirements
        run: poetry export --extras docs --without-hashes -f requirements.txt > requirements.txt

      # Install package dependencies
      - name: Install package dependencies
        run: pip install -r requirements.txt

      # Install extra docs dependencies
      - name: Install extra docs dependencies
        run: pip install toml numpydoc sphinx sphinx-rtd-theme

      # Build project
      - name: Build project
        run: python build.py

      # Build docs
      - name: Build docs
        run: catchsegv sphinx-build docs/source docs/build

      # Add nojeckyll
      - name: Add nojeckyll
        run: touch docs/build/.nojekyll

      # Add CNAME
      - name: Add CNAME
        run: echo "api.nautilustrader.io" >> docs/build/CNAME

      # Publish API docs
      - name: Publish API docs
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: docs/build
          SQUASH_HISTORY: false
          GITHUB_TOKEN: ${{ secrets.GHPAGES_ACCESS }}
