name: test

# Test pushes on non-master branch

on:
  push:
    branches-ignore:
      - "master"
      - "dependabot/**"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        python-version: [ 3.7, 3.8, 3.9 ]
    name: test - Python ${{ matrix.python-version }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      # Python setup
      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # Install build dependencies
      - name: Install build dependencies
        run: python -m pip install --upgrade pip setuptools wheel poetry nox --use-feature=2020-resolver

      # Setup Poetry caching
      - name: Get Poetry cache dir
        id: poetry-cache
        run: echo "::set-output name=dir::$(poetry config cache-dir)"

      - name: Poetry/Nox cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.poetry-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.python-version }}-poetry-test-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-poetry-test-
            ${{ runner.os }}-${{ matrix.python-version }}-poetry-

      # Run tests
      - name: Install Redis (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get install redis-server
      - name: Install Redis (macOS)
        if: runner.os == 'macOS'
        run: brew install redis

      - name: Run tests (with integrations test suite) [Linux/macOS]
        if: (runner.os == 'Linux') || (runner.os == 'macOS')
        run: |
          redis-server --daemonize yes
          nox -s tests_with_integration --reuse-existing-virtualenvs
          redis-cli shutdown
        env:
          POETRY_HTTP_BASIC_CCXTPRO_USERNAME: ${{secrets.POETRY_HTTP_BASIC_CCXTPRO_USERNAME}}
          POETRY_HTTP_BASIC_CCXTPRO_PASSWORD: ${{secrets.POETRY_HTTP_BASIC_CCXTPRO_PASSWORD}}

      - name: Run tests (without integrations test suite) [Windows]
        if: runner.os == 'Windows'
        run: nox -s tests_without_integration --reuse-existing-virtualenvs
